---
import WebDev from "@/components/Bento/WebDev.astro"
import Layout from "@/layouts/Layout.astro"
import NavLayout from "@/layouts/NavLayout.astro"
---

<Layout>
  <NavLayout transition="webDev">
    <h1 class="text-6xl sm:text-8xl font-black w-fit mx-auto mb-2">WebDev</h1>
    <section class="border-t border-[#0b0e394a] py-6 pb-2 px-4">
      <div class="flex">
        <img
          transition:name="photo"
          class="object-bottom rounded-[20px] h-[100px] mr-6 mb-3 border"
          src="./profile.jpg"
          alt="Profile photo"
        />
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam
          eaque neque necessitatibus quia est ipsum quo repellat molestiae iste
          doloremque minus impedit similique, illo eius libero magnam vel
          debitis tenetur?
        </p>
      </div>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam eaque
        neque necessitatibus quia est ipsum quo repellat molestiae iste
        doloremque minus impedit similique, illo eius libero magnam vel debitis
        tenetur?
      </p>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam eaque
        neque necessitatibus quia est ipsum quo repellat molestiae iste
        doloremque minus impedit similique, illo eius libero magnam vel debitis
        tenetur?
      </p>
    </section>

    <section class="flex gap-10 items-center border-t border-[#0b0e394a] py-6 pb-2 px-4">
      <img
        transition:name="uft"
        class="object-bottom rounded-[20px] h-[100px] mr-6 mb-3 border"
        src="/social/uft.png"
        alt="Profile photo"
      />
      <div>
        <li>Pico académico (<span class="font-bold">19.56/20.00</span>)</li>
        <li>Promedio académico (19.00/20.00)</li>
      </div>
    </section>
    <section class="flex gap-10 items-center border-t border-[#0b0e394a] py-6">
    </section>
  </NavLayout>
</Layout>
<style is:global>
  .webDev {
  }
  h1 {
    background-image: linear-gradient(to right, #6a11cb, #2575fc);
    background-clip: text; /* Recorta el fondo al texto */
    -webkit-background-clip: text;
    color: transparent;
  }
  html.dark {
    h1 {
      background-image: linear-gradient(to right, #ff7e5f, #feb47b);
    }
  }
</style>
