---
import WebDev from "@/components/Bento/WebDev.astro"
import Layout from "@/layouts/Layout.astro"
import NavLayout from "@/layouts/NavLayout.astro"
---

<Layout>
  <NavLayout>
    <div
      transition:name="webDev"
      class="webDev flex flex-col h-[800px] px-4 py-6 w-[700px] overflow-hidden bg-[#D9D9D9] dark:bg-[hsl(212,64%,14%)] rounded-[20px] border border-[#0b0e39] gap-6"
    >
      <h1 class="text-8xl font-black w-fit mx-auto mb-2">WebDev</h1>
      <section class="border-t border-[#0b0e39] pt-6 pb-2 px-4">
        <div class="flex">
          <img
            transition:name="photo"
            class="object-bottom rounded-[20px] h-[100px] mr-6 mb-3 border"
            src="./profile.jpg"
            alt="Profile photo"
          />
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam
            eaque neque necessitatibus quia est ipsum quo repellat molestiae
            iste doloremque minus impedit similique, illo eius libero magnam vel
            debitis tenetur?
          </p>
        </div>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam
          eaque neque necessitatibus quia est ipsum quo repellat molestiae iste
          doloremque minus impedit similique, illo eius libero magnam vel
          debitis tenetur?
        </p>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam
          eaque neque necessitatibus quia est ipsum quo repellat molestiae iste
          doloremque minus impedit similique, illo eius libero magnam vel
          debitis tenetur?
        </p>
      </section>

      <section class="flex gap-10 items-center border-t border-[#0b0e39] pt-6">
        <img
          transition:name="uft"
          class="object-bottom h-[100px] rounded-[20px] border"
          src="/social/uft.png"
          alt="Profile photo"
        />
        <div>
          <li>Pico académico (<span class="font-bold">19.56/20.00</span>)</li>
          <li>Promedio académico (19.00/20.00)</li>
        </div>
      </section>
      <section class="flex gap-10 items-center border-t border-[#0b0e39] py-6">
      </section>
    </div>
  </NavLayout>
</Layout>
<style is:global>
  h1 {
    background-image: linear-gradient(to right, #6a11cb, #2575fc);
    background-clip: text; /* Recorta el fondo al texto */
    -webkit-background-clip: text;
    color: transparent;
  }
  html.dark {
    h1 {
      background-image: linear-gradient(to right, #ff7e5f, #feb47b);
    }
  }
</style>
