---
import Item from "@/components/Item.astro"
---

<main class="bento">
  <slot />
</main>
<style is:global>
  .bento {
    --main-width: 1280px;
    --main-height: 780px;
    --main-gap: 16px;
    --columns: 8;
    --rows: 5;
    width: var(--main-width);
    display: grid;
    gap: var(--main-gap);
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-template-rows: repeat(
      var(--rows),
      calc(var(--main-height) / var(--rows) - var(--main-gap))
    );
    grid-template-areas:
      "webDev webDev webDev academics academics academics academics theme"
      "webDev webDev webDev photo freelancing freelancing freelancing freelancing"
      "experience experience upwork github freelancing freelancing freelancing freelancing"
      "experience experience linkedIn email freelancing freelancing freelancing freelancing"
      "experience experience techstack techstack techstack techstack techstack techstack";
  }
  .bento .item:nth-child(1) {
    grid-area: webDev;
  }
  .bento .item:nth-child(2) {
    grid-area: academics;
  }
  .bento .item:nth-child(3) {
    grid-area: theme;
  }
  .bento .item:nth-child(4) {
    grid-area: photo;
  }
  .bento .item:nth-child(5) {
    grid-area: freelancing;
  }
  .bento .item:nth-child(6) {
    grid-area: experience;
  }
  .bento .item:nth-child(7) {
    grid-area: upwork;
  }
  .bento .item:nth-child(8) {
    grid-area: github;
  }
  .bento .item:nth-child(9) {
    grid-area: linkedIn;
  }
  .bento .item:nth-child(10) {
    grid-area: email;
  }
  .bento .item:nth-child(11) {
    grid-area: techstack;
  }

  @media (max-width: 1536px) {
    .bento {
      --rows: 9;
      --main-width: 780px;
      --main-height: 888px;
      margin-top: 250px;
      margin-bottom: 100px;
      grid-template-areas:
        "webDev webDev webDev webDev webDev webDev theme theme"
        "webDev webDev webDev webDev webDev webDev theme theme"
        "photo photo academics academics academics academics academics upwork"
        "photo photo academics academics academics academics academics github"
        "freelancing freelancing freelancing freelancing freelancing freelancing freelancing linkedIn"
        "freelancing freelancing freelancing freelancing freelancing freelancing freelancing email"
        "experience experience experience experience experience experience experience experience"
        "experience experience experience experience experience experience experience experience"
        "techstack techstack techstack techstack techstack techstack techstack techstack"
        "techstack techstack techstack techstack techstack techstack techstack techstack"
        "techstack techstack techstack techstack techstack techstack techstack techstack";
    }
  }

  @media (max-width: 1024px) {
    .bento {
      --rows: 14;
      --main-width: 500px;
      --main-height: 888px;
      margin-top: 200px;
      margin-bottom: 100px;
      grid-template-areas:
        "webDev webDev webDev webDev webDev webDev webDev webDev"
        "webDev webDev webDev webDev webDev webDev webDev webDev"
        "webDev webDev webDev webDev webDev webDev webDev webDev"
        "academics academics academics academics academics academics academics theme"
        "academics academics academics academics academics academics academics photo"
        "academics academics academics academics academics academics academics upwork"
        "freelancing freelancing freelancing freelancing freelancing freelancing freelancing github"
        "freelancing freelancing freelancing freelancing freelancing freelancing freelancing linkedIn"
        "freelancing freelancing freelancing freelancing freelancing freelancing freelancing email"
        "experience experience experience experience experience experience experience experience"
        "experience experience experience experience experience experience experience experience"
        "techstack techstack techstack techstack techstack techstack techstack techstack"
        "techstack techstack techstack techstack techstack techstack techstack techstack"
        "techstack techstack techstack techstack techstack techstack techstack techstack";
    }
  }

  @media (max-width: 640px) {
    .bento {
      --rows: 22;
      --main-width: 315px;
      --main-height: 888px;
      margin-top: 200px;
      margin-bottom: 100px;
      grid-template-areas:
        "webDev webDev webDev webDev webDev webDev webDev webDev"
        "webDev webDev webDev webDev webDev webDev webDev webDev"
        "webDev webDev webDev webDev webDev webDev webDev webDev"
        "academics academics academics academics academics academics theme theme"
        "academics academics academics academics academics academics theme theme"
        "academics academics academics academics academics academics photo photo"
        "academics academics academics academics academics academics photo photo"
        "academics academics academics academics academics academics upwork upwork"
        "academics academics academics academics academics academics upwork upwork"
        "freelancing freelancing freelancing freelancing freelancing freelancing github github"
        "freelancing freelancing freelancing freelancing freelancing freelancing github github"
        "freelancing freelancing freelancing freelancing freelancing freelancing linkedIn linkedIn"
        "freelancing freelancing freelancing freelancing freelancing freelancing linkedIn linkedIn"
        "freelancing freelancing freelancing freelancing freelancing freelancing email email"
        "freelancing freelancing freelancing freelancing freelancing freelancing email email"
        "experience experience experience experience experience experience experience experience"
        "experience experience experience experience experience experience experience experience"
        "experience experience experience experience experience experience experience experience"
        "experience experience experience experience experience experience experience experience"
        "techstack techstack techstack techstack techstack techstack techstack techstack"
        "techstack techstack techstack techstack techstack techstack techstack techstack"
        "techstack techstack techstack techstack techstack techstack techstack techstack";
    }
  }
</style>
