---
import Item from "../Item.astro"
---

<Item
  ><a href="/about" class="flex justify-between h-full">
    <div class="p-4">
      <h2 class="dark:text-green-300 text-3xl font-bold">
        Ingeniería En Computación
      </h2>
      <div class="mt-4 dark:opacity-90">
        <li>Pico académico (19.56/20.00)</li>
        <li>Promedio académico (19.00/20.00)</li>
      </div>
    </div>
    <picture class="bg-white sm:flex items-center h-full hidden">
      <img
        transition:name="uft"
        class="w-36 p-4"
        src="/social/uft.png"
        alt="uft image"
      />
    </picture>
  </a></Item
>
