---
import Item from "../Item.astro"
---

<Item
  ><a class="flex 2xl:flex-col justify-between h-full opacity-90">
    <article class="p-4">
      <h2 class="dark:text-green-300 text-3xl font-bold">Experiencia</h2>
      <div class="mt-3">
        <li class="2xl:block hidden">
          Más de dos años en el mundo de la programación
        </li>
        <li class="2xl:block hidden">
          Proyectos realizados con todo tipo de tecnologías
        </li>
        <li>Proyectos propios, grupales y universitarios</li>
      </div>
    </article>
    <div class="image w-full hidden lg:block 2xl:h-1/2"></div>
  </a></Item
>
<style>
  .image {
    background-image: url("/codeRain.jpg");
    background-size: cover;
  }
</style>
