---
import Item from "../Item.astro"
---

<Item>
  <div class="p-4">
    <h2 class="dark:text-yellow-300 text-4xl font-bold">Freelancing</h2>
    <p>Ordena tu Aplicación o Página web</p>
    <div class="mt-4">
      <li>Diseño</li>
      <li>Animaciones</li>
      <li>Páginas estáticas</li>
      <li>Páginas dinámicas</li>
      <li>API REST</li>
      <li>GraphQL</li>
    </div>
  </div>
</Item>
