---
import Item from "../Item.astro"
---

<Item transition="photo">
  <a href="/about">
    <img
      class="object-bottom rounded-[20px]"
      src="./profile.jpg"
      alt="Profile photo"
    />
  </a>
</Item>
