---
import Upwork from "../Icons/Upwork.astro"
import Github from "../Icons/Github.astro"
import LinkedIn from "../Icons/LinkedIn.astro"
import Gmail from "../Icons/Gmail.astro"
import Item from "../Item.astro"
---

<Item transition="upwork">
  <a href="https://upwork.com" target="_blank">
    <Upwork />
  </a>
</Item>
<Item transition="github">
  <a href="https://github.com/Josemigg16" target="_blank">
    <Github />
  </a>
</Item>
<Item transition="linkedin">
  <a href="https://www.linkedin.com/in/josem-gomez" target="_blank">
    <LinkedIn />
  </a>
</Item>
<Item transition="gmail">
  <a href="/mail" target="_blank">
    <img class="bg-white scale-130" src="/social/gmail.png" alt="gmail image" />
  </a>
</Item>
