---
import "./src/styles/global.css"
import "@fontsource/inter"
import "@fontsource/geist-mono"
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <script>
      // On page load or when changing themes, best to add inline in `head` to avoid FOUC
      document.documentElement.classList.toggle(
        "dark",
        localStorage.astroErrorOverlayTheme === "dark" ||
          (!("astroErrorOverlayTheme" in localStorage) &&
            window.matchMedia("(prefers-color-scheme: dark)").matches)
      )
      if (
        localStorage.astroErrorOverlayTheme === "dark" ||
        (!("astroErrorOverlayTheme" in localStorage) &&
          window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        // Whenever the user explicitly chooses light mode
        localStorage.astroErrorOverlayTheme = "dark"
      } else {
        // Whenever the user explicitly chooses dark mode
        localStorage.astroErrorOverlayTheme = "light"
      }
    </script>
    <title>Astro Basics</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    display: grid;
    place-content: center;
    font-family: "Inter";
  }
</style>
