---
import ToggleTheme from "@/components/Bento/ToggleTheme.astro"
import Arrow from "@/components/Icons/Arrow.astro"
import Github from "@/components/Icons/Github.astro"
import LinkedIn from "@/components/Icons/LinkedIn.astro"
import Upwork from "@/components/Icons/Upwork.astro"
import Item from "@/components/Item.astro"

interface Props {
  transition: string
}

const { transition }: Props = Astro.props
---

<div class="relative mx-auto w-fit pt-28 pb-20">
  <aside
    class="lg:absolute lg:w-[60px] lg:-right-[70px] lg:pt-20 flex lg:flex-col gap-4 lg:h-[calc(100%-20px)] rounded-[20px] [&>article]:w-[50px] [&>article]:h-[50px] justify-center lg:justify-start flex-wrap w-[200px] sm:w-auto mx-auto mb-4 lg:mb-0"
  >
    <Item>
      <a
        href="/"
        class="grid place-content-center w-full h-full pl-4 rotate-270 p-1"
      >
        <Arrow />
      </a>
    </Item>
    <ToggleTheme />
    <Item transition="upwork">
      <a
        class="rounded-[20px] overflow-hidden hover:scale-110"
        href="https://upwork.com"
        target="_blank"
      >
        <Upwork />
      </a>
    </Item>
    <Item transition="github">
      <a
        class="rounded-[20px] overflow-hidden"
        href="https://github.com/Josemigg16"
        target="_blank"
      >
        <Github />
      </a>
    </Item>
    <Item transition="linkedin">
      <a
        class="rounded-[20px] overflow-hidden"
        href="https://www.linkedin.com/in/josem-gomez"
        target="_blank"
      >
        <LinkedIn />
      </a>
    </Item>
    <Item transition="gmail">
      <a class="rounded-[20px] overflow-hidden" href="/mail" target="_blank">
        <img
          class="bg-white scale-130"
          src="/social/gmail.png"
          alt="gmail image"
        />
      </a>
    </Item>
  </aside>
  <main
    transition:name={transition}
    class="px-4 py-6 max-w-[90vw] w-[700px] overflow-x-auto bg-[#D9D9D9] dark:bg-[hsl(212,64%,14%)] rounded-[20px] border border-[#0b0e39]"
  >
    <slot />
  </main>

  <style></style>
</div>
